@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.home-page {
  background-image: url("/texture.png"); /* 替换为你的图片路径 */
  background-size: cover; /* 背景图像覆盖整个div */
  background-position: center; /* 图片居中 */
  background-repeat: no-repeat; /* 防止背景重复 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.startgame {
  animation-name: fadeIn;
  animation-duration: 5s;
  animation-fill-mode: both;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-150%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRightAndBounce {
  0% {
    transform: translateX(150%);
  }
  50%,
  100% {
    transform: translateX(0);
  }
  70% {
    transform: translateX(-10px);
  }
  90% {
    transform: translateX(5px);
  }
}

.logo1 {
  width: 200px;
  animation: slideInFromLeft 1.8s ease-out forwards;
}

.logo2 {
  animation: slideInFromRightAndBounce 3s ease-out forwards;

  width: 150px;
  padding-bottom: 10px;
}

.startgame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}
.username-input {
  width: 200px;
  padding: 10px 15px;
  border: 2px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 15px;
  /* color: #ddd; */

  &:focus {
    border-color: #e25026; /* 焦点时边框颜色变化 */
    outline: none; /* 移除默认轮廓 */
  }
}

.start-button {
  display: block; /* 块状元素 */
  width: 200px; /* 充满容器宽度 */
  padding: 10px 15px; /* 舒适的内边距 */
  background-color: #e25026; /* 蓝色背景 */
  color: white; /* 白色文字 */
  border: none; /* 无边框 */
  border-radius: 5px; /* 圆角 */
  font-size: 16px; /* 清晰的字体大小 */
  cursor: pointer; /* 鼠标悬停时光标变换 */
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s; /* 平滑过渡效果 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 添加阴影效果 */

  &:hover {
    background-color: #f0a286;
    transform: scale(1.1);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* 悬停时阴影更大更深 */
  }

  &:active {
    background-color: #f0a286;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 点击时阴影更小更浅 */
  }
}
