@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.overpage-container {
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-fill-mode: both;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: flex-start;
  background: linear-gradient(
    135deg,
    rgba(255, 221, 0, 0.263),
    rgba(127, 255, 212, 0.227)
  );
  gap: 285px;
  backdrop-filter: blur(3px);
  z-index: 1;
}
.gamelist {
  padding-top: 90px;
}

.game-info {
  /* height: 100vh;
  width: 100vw; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 100px;
  align-items: center;
}

.again-button {
  margin-top: 220px;
  display: block;
  width: 200px;
  padding: 10px 15px;
  background-color: #e25026;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s; /* 平滑过渡效果 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 添加阴影效果 */

  &:hover {
    background-color: #f0a286;
    transform: scale(1.1);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* 悬停时阴影更大更深 */
  }

  &:active {
    background-color: #f0a286;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 点击时阴影更小更浅 */
  }
}

.pop-hide {
  display: none;
}
