.game-info {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(127, 255, 212, 0.14);
  z-index: 1;
}

.again-button {
  display: block; /* 块状元素 */
  width: 200px; /* 充满容器宽度 */
  padding: 10px 15px; /* 舒适的内边距 */
  background-color: #e25026; /* 蓝色背景 */
  color: white; /* 白色文字 */
  border: none; /* 无边框 */
  border-radius: 5px; /* 圆角 */
  font-size: 20px; /* 清晰的字体大小 */
  font-weight: 600;
  cursor: pointer; /* 鼠标悬停时光标变换 */

  /* 鼠标悬停和点击效果 */
  &:hover {
    background-color: #f0a286; /* 悬停时更深的背景色 */
    scale: 1.1;
  }

  &:active {
    background-color: #f0a286; /* 点击时的背景色 */
  }
}

.pop-hide {
  display: none;
}
