.timer {
  color: #ffffff;
  align-self: flex-end;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 8px;
  height: 35px;
  background-color: #e24f2684;
  display: flex;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 600;
}
