/* <div className="winner-info">
      the winner is <p className="username">{username}</p> in{" "}
      <p className="use-time">{duration}</p> seconds!!
    </div> */

.winner-info {
  display: flex;
  flex-direction: column;
  text-align: center; /* 居中文本 */

  padding: 10px; /* 内边距 */
  color: #757575; /* 文本颜色 */
  background-color: rgba(255, 255, 255, 0.493); /* 半透明的背景色 */
  border-radius: 10px; /* 圆角 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 轻微的阴影效果 */
  max-width: 600px; /* 最大宽度，确保在较大屏幕上也不会太宽 */

  font-family: "Arial", sans-serif; /* 字体 */
}

.username-highlight {
  color: #e25026; /* 用户名的颜色 */
  font-size: 1.2em; /* 用户名的字体大小 */
}

@media only screen and (max-width: 600px) {
  .winner-info {
    font-size: 14px; /* 在小屏幕上减小字体大小 */
  }
}
