.invisibal-container {
  height: 100vh;
  position: fixed;
  z-index: 2;
}

.navinfo {
  /* background: rgba(246, 148, 91, 0.5); */
  background: rgba(255, 255, 255, 0.4);
  position: fixed;
  z-index: 4;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  text-align: end;
  padding: 5px;
  box-shadow: 0px 3px 5px rgba(57, 57, 57, 0.144);
}
.game-name {
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
  color: white;
  align-self: flex-end;
  text-shadow: 1px 1px 5px rgba(65, 64, 64, 0.486);
}

.timer {
  margin-right: 60px;
  color: #ffffff;
  align-self: flex-end;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 8px;
  height: 35px;
  background-color: #e24f2684;
  display: flex;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 600;
}

.logo_container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 20px;
}
.logo-doll-1 {
  height: 70px;
}

.logo-doll-2 {
  height: 35px;
}

.logged-user {
  z-index: 5;
  position: fixed;
  left: 3vw;
  top: 2vh;
  font-weight: 800;
  color: #e25026;
  font-size: large;
  text-align: start;
  text-shadow: 1px 1px 5px rgba(65, 64, 64, 0.486);
}

.logout-button {
  position: fixed;
  right: 3vw;
  top: 3vh;
  color: white;
  background-color: #e25026;
  z-index: 5;
}
